/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2016, 5:16:50 PM
    Author     : giacomocavallo
*/

.buttonTopRight{
    position: absolute;
    float: right;
    
}

.formContainer{
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: 10px;
}

.formContainer  .mylabel{
    color: blue;
}

.formContainer  .mylabel .valore{
    color: gray;
}

.dropzone .dz-preview .dz-image {
      width: 80px;
      height: 80px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 0px;
      margin-left: 0px;
    }
    
    .dropzone{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    }