/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2016, 5:16:50 PM
    Author     : giacomocavallo
*/

.buttonTopRight{
    position: absolute;
    float: right;
    
}

.formContainer{
   border:solid 5px #000000;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright:43px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:43px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:43px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}

.formContainer  .nomeValore{
    color: blue;
}

.formContainer  .valore{
    color: gray;
}