
html, body{
    font-size: 100%;
    background:	whitesmoke;
}

.tbody {
    border:1px solid #999999;
    padding-top: 4%;
}

.annuncio {
    border:1px solid #999999;
    word-wrap: break-word;
}

textarea {
    border:1px solid #999999;
    width:98%;
    margin:5px 0;
    padding:1%;
}

.textwrapper {
    float: left;
    border: 1px solid #999999;
    margin:5px 0;
    padding:3px;
}

.pwd {
    width: 20%;
    float: left; 
    padding-left: 1px;
}


a:link:hover, a:visited:hover {
    color: initial;
}

.modify-field {
    color: transparent; 
}

.edit {
    float: right; 
} 

.edit-buttons {
    width: 100%;
    float: right;
    display: block; 
} 

.trow {
    display: block; 
    clear: right;
    height: 43px;
    padding-top: 10px;

    /*  border: 1px solid #73AD21; */

}

.field-name {
    display: inline;
    float: left; 
    width: 25%;
    padding-left: 10px;
}

.field-value {
    display: inline; 
    /*    float: right; */
    position: relative;
}

input:disabled  {
    border: none;
    border-color: transparent;
    background: transparent;
}

textarea {
    resize: none; 
}

textarea:disabled {
    border: none;
    border-color: transparent;
    background: transparent;
}


.header{
    padding: 0.8% 0 0 0;
    position: fixed;
    right: 0;
    left: 0;
    height: 79px;
    z-index: 20;
    text-align:center;
    background:#fff;
    border-bottom: 1px solid red;
}



div.img_container:hover div
{
    display: block;
    z-index: 100;
}

div.img_container:hover img
{
    display: block;
    box-shadow: 0 1px 1px rgba(228, 131, 18, 0.6) inset, 0 0 8px rgba(228, 131, 18, 0.6); 
}

div.the-buttons
{
    position:absolute;
    top:204px;
    left:5.4%;
    width: 89.5%;
    height: 7%;
    max-width: 270px;
    max-height: 254px;
    padding-top: 4%;
    text-align: center;
    background: rgba(228, 131, 18, 0.6);
    display:none;
}

.borderless-btn{
    background: none;
    border: none;
    outline: none;
    color : whitesmoke;
}



.btn-file {
    position: relative;
    overflow: hidden;
    color : whitesmoke;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;
}

.btn-interest{
    display:inline-block;
    color:#444;
    height: 30px;
    border:1px solid orange;
    border-radius: 4px;
    background:rgba(228, 131, 18, 0.2);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 0;
    margin-bottom: 10px;

}
button.btn-interest:hover{
    max-width: 100%;
}

.btn-secodary:focus{
    outline: none;
}


#white-camera{
    color: whitesmoke;
}

.logo-sx{
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
}
.logo-sx img{
    height: 100%;
}
.nav-top-list{
    padding-top: 0.8%;
}
.nav-top-list-rigth{
    padding-top: 0.8%;
    position: relative;left: 27%;
}
.search-bar-form{
    width:40%;
    position: relative;
    left: 18%;     
}
/*
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-color: rgba(228, 131, 18, 0.6);
    box-shadow: 0 1px 1px rgba(228, 131, 18, 0.6) inset, 0 0 8px rgba(228, 131, 18, 0.6);
    outline: 0 none;
} */
.white-element{
    background: #fff;
    position: relative;
    border: 1px solid lightgray;
    padding: 5px 10px 10px 10px; 
}

.double-input .form-control {
    width: 50%;
    border-right-width: 0px;
}

.double-input .form-control:focus {
    border-right-width: 1px;
}

.triple-input .form-control {
    width: 33.3%;
    border-right-width: 0px;
}

.triple-input .form-control:focus {
    border-right-width: 1px;
}

.profile-image {
    width: 40px;
    height: 40px;
}

.notify{
    border: 2px solid #ff6701;
    border-radius: 20px;
    color: red;
    color: #ff6701;
    font-size: 10px;
    padding: 1px 8px 1px 8px;
}

.content{
    background: whitesmoke/*rgba(228, 131, 18, 0.6)*/;
}

.colored {
    background-image: none;
    background:linear-gradient(to bottom, orange 0%, orangered 70%, red 100%);
    color: whitesmoke;
    color: white;
}
.popover{
    background: white;
}
.popover-title {
    display: none;
}
.popover-content {
    text-align: center;
    color: gray;
    font-size: 80%;
    width: 130px;
} 